/*


EXPLANATION

Since we have imported Normalize.css in the HEAD of our page, we don't have to worry 
about the "normalization" of the page for different browsers. Also, because we have 
imported 2 webfonts from the Google WebFonts directory, we can use them straightaway 
in our stylesheet.

For further reference, you can find the two fonts imported here:

Lato => https://www.google.com/fonts#UsePlace:use/Collection:Lato
Sigmar => https://www.google.com/fonts#UsePlace:use/Collection:Sigmar+One

*/




/* Defaults 

*/
*, *:before, *:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}


html, body {
	min-height: 100%;
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Sigmar One', cursive; /* Set a different font-family for H elements */
}

p {
	font-size: 0.9em;
	/*
	JBS: need to look up what em means again. weight = 400?
	*/
	line-height: 1.6;
	font-weight: 400;
}


/* (Very) simple grid */
.row {
	width: 100%;
	/*
	JBS: if body has 100% why does row need the same?
	*/
}

.row:before, .row:after {
	content:"";
	/*
	JBS: explain ""
	display table?
	*/
	display:table
}

.row:after {
	clear:both;
}

.col-1, .col-2, .col-3, .col-4 {
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}


/* Header */

.mainHeader {


	min-height: 100%;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/*
	JBS: cover?
	*/
	background-attachment: fixed; /* This is what creates the parallax effect!!! */
	padding: 80px 20px;
	text-align: center;
}

	.mainHeader h1 {
		font-size: 35px;
	}

	.mainHeader p {
		font-size: 1.1em;
	}

	.mainHeader h1, .mainHeader p {
		width: 100%;
		max-width: 600px;
		margin: auto;
		text-shadow: 1px 1px 4px rgba(255,255,255,.7);
	}


/* Parallax element */

.parallax {
	background-image: url('../images/parallax.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; /* This is what creates the parallax effect!!! */
	min-height: 150px;
	padding: 35px 0;
	text-align: center;
}

	.parallax h2 {
		color: #fff; /* White */
	}


/* Footer */

footer {
	background-color: #222;
	color: #fff;
	padding: 30px 20px;
}

	footer h3 {
		font-weight: 400;
		margin: 0 0 10px;
	}

	footer ul {
		margin-top: 0;
		padding-left: 20px;
	}

	footer ul li {
		list-style-type: square;
	}


/* Media Queries to target Desktops */
@media only screen and (min-width: 1024px) {

	.col-1, .col-2, .col-3, .col-4 {
		float: left;
	}

	.col-1 {
		width: 33.333333%;
	}

	.col-2 {
		width: 50%;
	}

	.col-3 {
		width: 66.666667%;
	}

	.col-4 {
		width: 100%;
	}

	section {
		padding: 25px;
	}

	footer {
		padding: 50px 100px;
	}

	.mainHeader h1 {
		font-size: 50px;
	}

	.mainHeader p {
		font-size: 1.4em;
	}
}