body {
margin: 0px;
padding: 0px;
}
	header {
	

}

#logo {
	color: red;

}

.amazing {
	color: rgb(210,54,88);
}

.reg-bg {
	background color: rgb(135,211,124);
}


section, aside{background color: ;
	margin:10px;
	padding:50px;
}